aiohttp==3.6.2
multidict==4.6.1
networkx>=2.4
paho-mqtt==1.5.0
quart==0.6.15
quart-cors==0.1.3
rhasspy-hermes==0.1.6
rhasspy-nlu==0.1.6
rhasspy-profile==0.1.2
rhasspy-supervisor==0.1.2
swagger-ui-py==0.1.7
