aiohttp==3.6.2
hypercorn==0.10.1
networkx==2.4
paho-mqtt==1.5.0
quart==0.11.3
quart-cors==0.3.0
rhasspy-hermes~=0.4.0
rhasspy-nlu~=0.3.0
rhasspy-profile~=0.4.0
rhasspy-supervisor~=0.4.0
swagger-ui-py==0.2.1
