aiohttp==3.7.4
hypercorn==0.10.1
multidict==4.7.6
networkx==2.4
paho-mqtt==1.5.0
quart==0.11.3
quart-cors==0.3.0
rhasspy-hermes~=0.6.0
rhasspy-nlu~=0.3.0
rhasspy-profile~=0.7.0
rhasspy-supervisor~=0.7.0
swagger-ui-py==0.2.1
