{% extends "layout.html" %}

<!-- Page for editing Rhasspy profile JSON directly -->

{% block body %}
<div class="container">
    <div class="text-muted pl-1">
        <p>
            You can edit <a href="https://rhasspy.readthedocs.io/en/latest/profiles/">your Rhasspy profile</a> directly here as JSON.
            Only settings that <strong>differ from the defaults</strong> are shown.
        </p>
    </div>
    <div class="form-group">
        <div class="form-row">
            <button onclick="saveProfile()" class="btn btn-primary profile-json-button">Save Profile</button>
        </div>
    </div>

    <div class="form-group">
        <div class="form-row">
            <textarea id="profileJson" class="form-control" style="border-width: 3px" type="text" rows="15" oninput="setDirty()">{{ local_profile_json | safe }}</textarea>
        </div>
    </div>

    <div class="form-group">
        <div class="form-row">
            <button onclick="saveProfile()" class="btn btn-primary profile-json-button">Save Profile</button>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
 var isDirty = false;

 // Highlight textarea and buttons to indicate a save is needed
 function setDirty() {
     isDirty = true;
     $('#profile-settings').css('border-color', 'red');
     $('.profile-json-button').addClass('btn-danger');
 }

 // POST to /api/profile to save and then restart Rhasspy
 function saveProfile() {
     rhasspy.postBusy('Saving profile',
                      '/api/profile',
                      $('#profileJson').val(),
                      false)
            .done(function() {
                rhasspy.restart();
            });
 }

 window.onbeforeunload = function() {
     if (isDirty) {
         // Warn user before leaving page
         return 'Profile was not saved. Are you sure?"'
     }
 }
</script>
{% endblock %}
