{% extends "layout.html" %}

<!-- Home page for testing Rhasspy services -->

{% block body %}

<!-- siteId -->
<h3 class="text-center" title="Hermes siteId">{{ profile.get("mqtt.site_id", "default").split(",")[0] }}</h3>

<div id="services" class="card-group text-center" x-data="rhasspy">
    <div class="card bg-success" x-bind:title="'MQTT: ' + (profile.mqtt.enabled ? 'external' : 'internal')" x-bind:class="{ 'bg-dark': !profile.mqtt.enabled }">
        <div class="card-body p-2">
            <i class="fas fa-inverse fa-network-wired fa-lg"></i>
        </div>
    </div>
    <div class="card bg-success" x-bind:title="'Audio input: ' + profile.microphone.system" x-bind:class="{ 'bg-dark': profile.microphone.system == 'dummy' }">
        <div class="card-body p-2">
            <i class="fas fa-inverse fa-microphone fa-lg"></i>
        </div>
    </div>
    <div class="card bg-success" x-bind:title="'Intent handling: ' + profile.handle.system" x-bind:class="{ 'bg-dark': profile.handle.system == 'dummy' }">
        <div class="card-body p-2">
            <i class="fas fa-inverse fa-home fa-lg"></i>
        </div>
    </div>
    <div class="card bg-success" x-bind:title="'Wake word: ' + profile.wake.system" x-bind:class="{ 'bg-dark': profile.wake.system == 'dummy' }">
        <div class="card-body p-2">
            <i class="fas fa-inverse fa-exclamation-circle fa-lg"></i>
        </div>
    </div>
    <div class="card bg-success" x-bind:title="'Speech to text: ' + profile.speech_to_text.system" x-bind:class="{ 'bg-dark': profile.speech_to_text.system == 'dummy' }">
        <div class="card-body p-2">
            <i class="fas fa-inverse fa-phone-volume fa-lg"></i>
        </div>
    </div>
    <div class="card bg-success" x-bind:title="'Intent recognition: ' + profile.intent.system" x-bind:class="{ 'bg-dark': profile.intent.system == 'dummy' }">
        <div class="card-body p-2">
            <i class="fas fa-inverse fa-comment fa-lg"></i>
        </div>
    </div>
    <div class="card bg-success" x-bind:title="'Text to speech: ' + profile.text_to_speech.system" x-bind:class="{ 'bg-dark': profile.text_to_speech.system == 'dummy' }">
        <div class="card-body p-2">
            <i class="fas fa-inverse fa-paper-plane fa-lg"></i>
        </div>
    </div>
    <div class="card bg-success" x-bind:title="'Audio output: ' + profile.sounds.system" x-bind:class="{ 'bg-dark': profile.sounds.system == 'dummy' }">
        <div class="card-body p-2">
            <i class="fas fa-inverse fa-volume-up fa-lg"></i>
        </div>
    </div>
    <div class="card bg-success" x-bind:title="'Dialogue management: ' + profile.dialogue.system" x-bind:class="{ 'bg-dark': profile.dialogue.system == 'dummy' }">
        <div class="card-body p-2">
            <i class="fas fa-inverse fa-tasks fa-lg"></i>
        </div>
    </div>
</div>

<!-- Microphone/STT Testing -->
<div class="card-group">
    <div class="card test-card">
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <button id="wakeup" class="btn btn-warning" onclick="wakeUp()" title="Wake up Rhasspy and listen for a voice command">
                            <i class="fas fa-2x fa-exclamation-circle"></i>
                        </button>
                        <span>Wake Up</span>
                    </div>
                    <div class="col">
                        <button id="play-command" onclick="playCommand()" class="btn btn-success" title="Play the last recorded voice command">
                            <i class="fas fa-2x fa-play"></i>
                        </button>
                        <span>Play Recording</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            Microphone
        </div>
    </div>
    <div class="card test-card">
        <div class="card-body">
            <input id="wav-file" type="file" onchange="uploadWAV()" hidden>
            <button id="upload" onclick="chooseWAV()" class="btn btn-info" title="Upload WAV voice command and recognize it">
                <i class="fas fa-2x fa-upload"></i>
            </button>
            <span>Upload WAV File</span>
        </div>
        <div class="card-footer">
            Speech to Text
        </div>
    </div>
</div>
<!-- End Microphone/STT Testing -->

<!-- Intent Recognition Testing -->
<div class="card mt-3">
    <div class="card-body">
        <form onsubmit="recognize()">
            <div class="input-group">
                <button type="submit" id="intent-recognize" class="btn btn-primary">
                    <i class="fas fa-inverse fa-comment"></i>
                    Recognize
                </button>
                <input type="text" id="intent-text" class="form-control ml-1" placeholder="Text to recognize">
            </div>
            <div id="intent-error" class="alert alert-danger mt-3 mb-0" style="display: none;">
                No intent recognized
            </div>
            <div id="intent-summary" class="form-group mt-3 mb-0">
                <div class="form-row">
                    <div id="intent-name" class="badge badge-danger"></div>
                </div>
                <div class="form-row">
                    <ul id="intent-slots" class="mt-1"></ul>
                </div>
            </div>
        </form>
    </div>
    <div class="card-footer">
        Intent Recognition
    </div>
</div>
<!-- End Intent Recognition Testing -->

<!-- Text to Speech Testing -->
<div class="card mt-3">
    <div class="card-body">
        <form onsubmit="speak()">
            <div class="input-group">
                <button type="submit" id="tts-speak" class="btn btn-primary">
                    <i class="fas fa-inverse fa-paper-plane"></i>
                    Speak
                </button>
                <input type="text" id="tts-text" class="form-control ml-1" placeholder="Text to speak">
            </div>
        </form>
    </div>
    <div class="card-footer">
        Text to Speech
    </div>
</div>
<!-- End Text to Speech Testing -->

{% endblock %}

{% block script %}
<script type="text/javascript">

 // Show intent and slots in web UI
 function setIntent(response) {
     $('#intent-error').hide()
     $('#intent-summary').hide()
     $('#intent-slots li').remove()

     if (response.intent.name.length == 0) {
         $('#intent-text').val('');
         $('#intent-error').show()
         return;
     }

     $('#intent-text').val(response.raw_text || response.text);
     $('#intent-summary').show()
     $('#intent-name').text(response.intent.name)
     for (slotName in response.slots) {
         $('#intent-slots').append(
             '<li>' +
             '<span>' + response.slots[slotName] + '</span>' +
             '<span class="badge badge-primary ml-1">' + slotName + '</span>' +
             '</li>'
         );
     }
 }

 // Wake Rhasspy up, listen for a voice command, then recognize the intent.
 function wakeUp() {
     $('#wakeup').prop('disabled', true);
     rhasspy.postBusy('Listening for command', '/api/listen-for-command')
            .always(function() {
                $('#wakeup').prop('disabled', false);
            })
            .done(function(response) {
                $('#intent-text').val(response['raw_text']);
                setIntent(response);
            });
 }

 // POST to /api/play-recording to play last recorded voice command
 function playCommand() {
     $('#play-command').prop('disabled', true);
     rhasspy.postBusy('Playing last command', '/api/play-recording')
            .always(function() {
                $('#play-command').prop('disabled', false);
            });
 }

 // Click hidden file input for WAV upload
 function chooseWAV() {
     event.preventDefault();
     $('#wav-file').click();
     return false;
 }

 // Read WAV file into a buffer and POST to /api/speech-to-intent
 function uploadWAV() {
     var file = event.target.files[0];

     var reader = new FileReader();
     reader.onload = function() {
         var wavData = this.result;
         rhasspy.postBusy('Transcribing WAV',
                          '/api/speech-to-intent',
                          wavData, true, 'audio/wav')
                .done(function(response) {
                    setIntent(response);
                });
     }

     reader.readAsArrayBuffer(file);
 }

 // POST text to /api/text-to-intent and display intent
 function recognize() {
     event.preventDefault();

     var text = $('#intent-text').val();
     if (text.length > 0) {
         $('#intent-recognize').prop('disabled', true);
         rhasspy.postBusy('Recognizing intent', '/api/text-to-intent', text)
                .always(function() {
                    $('#intent-recognize').prop('disabled', false);
                })
                .done(function(response) {
                    setIntent(response);
                });
     } else {
         alert('No text to recognize')
     }

     return false;
 }

 // POST text to /api/text-to-speech to speak sentence
 function speak() {
     event.preventDefault();

     var text = $('#tts-text').val();
     if (text.length > 0) {
         $('#tts-speak').prop('disabled', true);
         rhasspy.postBusy(text, '/api/text-to-speech', text)
                .always(function() {
                    $('#tts-speak').prop('disabled', false);
                });
     } else {
         alert('No text to speak')
     }

     return false;
 }

 // Catch intents via websocket and display them
 $(function() {
     rhasspy.makeWebSocket(
         '/api/events/intent',
         function(socket) {
             socket.onmessage = function(e) {
                 var response = JSON.parse(e.data);
                 setIntent(response);
             }
         });
 })
</script>
{% endblock %}
