<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Rhasspy Voice Assistant</title>

        <!-- CSS -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="/css/main.css">
    </head>

    <body x-data="rhasspy">
        <noscript>
            <strong>Please enable Javascript to continue.</strong>
        </noscript>

        <!-- Top Bar -->
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">

            <!-- Logo -->
            <a href="/">
                <img id="logo" title="Rhasspy" class="navbar-brand" src="/img/logo.png">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <!-- Version -->
                <div class="navbar-container">
                    <a href="/api/" title="HTTP API" class="badge badge-info">{{ version }}</a>
                </div>

                <!-- Page Drop Down -->
                <div class="navbar-container ml-3">
                    <div class="nav-item dropdown">
                        <a class="btn btn-outline-light  dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ page }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/">Home</a>
                            <a class="dropdown-item" href="/sentences">Sentences</a>
                            <a class="dropdown-item" href="/slots">Slots</a>
                            <a class="dropdown-item" href="/words">Words</a>
                            <a class="dropdown-item" href="/settings">Settings</a>
                            <a class="dropdown-item" href="/advanced">Advanced</a>
                        </div>
                    </div>
                </div>

                <!-- Log Button -->
                <button onclick="$('#logModal').modal('show')" class="btn btn-secondary ml-2" title="Show Rhasspy log">Log</button>

                <!-- Top Bar Buttons -->
                <div class="navbar-container ml-auto">
                    <span title="Profile name" class="badge badge-primary ml-2" style="font-size: 1em">{{ profile.get("name", "") }}</span>

                    <button onclick="rhasspy.train()" class="btn btn-success ml-2" title="Train profile">Train</button>
                    <button onclick="rhasspy.restart()" class="btn btn-danger ml-2" title="Restart Rhasspy">Restart</button>
                </div>
            </div>
        </nav>

        <!-- Main -->
        <div class="main-container">
            <!-- Download Alert -->
            {% if missing_files %}
            <div class="alert alert-warning alert-dismissable" role="alert">
                <button onclick="rhasspy.downloadProfile()" class="btn btn-primary">Download</button>
                <span class="ml-2">
                    Rhasspy needs to download some files for your profile (<span x-text="missingFileCount()"></span> missing)
                </span>
                <button type="button" onclick="$('#download-alert').hide()" class="close ml-auto" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
            <!-- End Download Alert -->

            <!-- Unknown Words Alert -->
            {% if unknown_words: %}
            <div class="alert alert-warning alert-dismissable" role="alert">
                <a title="Go to Words page" href="/words" class="btn btn-primary">View</a>
                <span class="ml-2">
                    There are {{ len(unknown_words) }} word(s) that Rhasspy isn't sure how to pronounce
                </span>
                <button type="button" onclick="$('#download-alert').hide()" class="close ml-auto" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
            <!-- End Unknown Words Alert -->

            {% block body %}{% endblock %}
        </div>
        <!-- End Main -->

        <!-- Busy Modal -->
        <div id="busyModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="busyModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 id="busyText" class="modal-title" id="busyModalLabel"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated w-100" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Busy Modal -->

        <!-- Download Modal -->
        <div id="downloadModal" class="modal  fade" tabindex="-1" role="dialog" aria-labelledby="downloadModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Downloading Profile Files</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <template x-for="fileKey in Object.keys(missingFiles)" :key="fileKey">
                            <div class="row mt-2">
                                <div class="col" x-text="fileKey"></div>
                                <div class="col">
                                    <div class="progress">
                                        <div x-bind:id="'progress-download-' + missingFiles[fileKey].index" class="progress-bar progress-bar-striped progress-bar-animated w-0" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Download Modal -->

        <!-- Alert -->
        <div id="alert" style="display: none;" class="alert alert-success main-alert alert-dismissable" role="alert">
            <button @click="clearAlert" type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <span id="alertText"></span>
        </div>
        <!-- End Alert -->

        <!-- Log -->
        <div id="logModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="logModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="logModalLabel">Rhasspy Log</h5>

                        <button type="button" class="btn btn-primary ml-2" onclick="rhasspy.log.text = ''">Clear</button>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container" x-data="rhasspy">
                            <div class="text-muted pl-1">
                                <p>
                                    This log is streamed live from your Rhasspy server at <tt>ws://<span x-text="window.location.host"></span>/api/events/log</tt>
                                </p>
                            </div>
                            <textarea x-model="log.text" class="form-control" type="text" rows="20"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Log -->

        <!-- Load Javascript libraries -->
        <script src="/js/recorder.js"></script>
        <script src="/js/jquery-3.4.1.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/alpine.js" defer></script>

        <script type="text/javascript">
         // Shared object with profile and functions
         var rhasspy = {
             // Profile JSON is written directly here by web server
             profile: {{ profile_json | safe }},

             // True if the busy modal should be hidden after its finished with its show animation.
             busyHidden: true,

             // Show the busy modal and start the Rhasspy logo spinning
             showBusy: function(message) {
                 this.busyHidden = false;
                 $('#logo').addClass('spinner')
                 $('#busyText').html(message)
                 $('#busyModal').modal('show')
             },

             // Hide the busy modal and stop the Rhasspy logo from spinning
             hideBusy: function(message) {
                 this.busyHidden = true;
                 $('#logo').removeClass('spinner')
                 $('#busyModal').modal('hide')
             },

             // Display an alert message at the bottom of the screen for 20 seconds
             alert: function(message, level) {
                 $('#alert').addClass('alert-' + level)
                 $('#alertText').text(message)
                 $('#alert').show()

                 // Hide alert after 20 seconds
                 setTimeout(this.clearAlert, 20000)
             },

             // Hide the alert message
             clearAlert: function(message, level) {
                 $('#alert').removeClass('alert-info')
                 $('#alert').removeClass('alert-danger')
                 $('#alert').removeClass('alert-warning')
                 $('#alert').removeClass('alert-success')
                 $('#alert').hide()
             },

             // Display the busy modal with a message and do an AJAX POST.
             // Returns the AJAX request.
             postBusy: function(message, url, data, hideOnComplete, contentType) {
                 var rhasspy = this;
                 hideOnComplete = (hideOnComplete === undefined) ? true : hideOnComplete;
                 contentType = (contentType === undefined) ? 'application/json' : contentType;

                 rhasspy.showBusy(message);
                 return $.ajax({
                     url: url,
                     type: 'POST',
                     data: data,
                     processData: false,
                     contentType: contentType,
                     complete: function() {
                         // Hide busy modal
                         if (hideOnComplete) {
                             rhasspy.hideBusy();
                         }
                     },
                     error: function(error) {
                         // Show error alert
                         rhasspy.alert(error.responseText, 'danger');
                     }
                 })
             },

             // POSTs to /api/train and displays a busy modal
             train: function() {
                 return this.postBusy('Training Profile', '/api/train')
                            .done(function(response) {
                                rhasspy.alert(response, 'success');
                            });
             },

             // POSTs to /api/restart and displays a busy modal
             restart: function() {
                 return this.postBusy('Restarting Rhasspy', '/api/restart')
                            .done(function() {
                                window.location.reload()
                            });
             },

             downloading: false,
             missingFiles: {{ missing_files_json | safe }},

             // Starts profile file downloads and monitors status
             downloadProfile: function() {
                 var rhasspy = this;
                 this.downloading = true;
                 $('#downloadModal').modal('show');

                 // Start monitoring download status
                 rhasspy.updateDownloadStatus()

                 // POST to /api/download-profile and show progress
                 $.ajax({
                     url: '/api/download-profile',
                     type: 'POST',
                     complete: function() {
                         this.downloading = false;

                         // Hide download dialog
                         $('#downloadModal').modal('hide')

                         // Restart when done downloading
                         rhasspy.restart();
                     },
                     error: function(error) {
                         this.downloading = false;

                         // Show error alert
                         rhasspy.alert(error.responseText, 'danger');
                     }
                 })

             },

             // Polls /api/download-status for downloaded file statuses
             updateDownloadStatus: function() {
                 var rhasspy = this;

                 if (!rhasspy.downloading) {
                     return;
                 }

                 $.get('/api/download-status', function(response) {
                     Object.keys(response).forEach(function(fileKey) {
                         var remoteFile = response[fileKey];
                         var localFile = rhasspy.missingFiles[fileKey];
                         var progressId = '#progress-download-' + localFile.index;

                         $(progressId).width(remoteFile.bytes_percent + '%');

                         if (remoteFile.done) {
                             $(progressId).removeClass('progress-bar-animated');
                             $(progressId).addClass('bg-success');
                         }
                     })
                 }).always(function() {
                     setTimeout(function() {
                         rhasspy.updateDownloadStatus();
                     }, 1000);
                 })
             },

             missingFileCount: function() {
                 return Object.keys(this.missingFiles).length;
             },

             // Converts a Pocketsphinx threshold to a sensitivity value in [0, 1]
             thresholdToSensitivity: function(threshold) {
                 var high = 50
                 var low = 5

                 var exp = -Math.log10(threshold)
                 var s = (exp - low) / (high - low)
                 return Math.min(1, Math.max(0, s)).toFixed(1)
             },

             // Converts a a sensitivity value in [0, 1] to a Pocktsphinx threshold
             sensitivityToThreshold: function(sensitivity) {
                 var high = 50
                 var low = 5

                 var exp = (sensitivity * (high - low)) + low
                 return Math.pow(10, -exp)
             },

             // Computed getter for Pocketsphinx sensitivity
             get pocketsphinxWakeSensitivity() {
                 return this.thresholdToSensitivity(
                     this.profile.wake.pocketsphinx.threshold
                 );
             },

             // Computed setter for Pocketsphinx sensitivity
             set pocketsphinxWakeSensitivity(sensitivity) {
                 this.profile.wake.pocketsphinx.threshold =
                     this.sensitivityToThreshold(sensitivity);
             },

             // Creates a new websocket and the calls afterFunc with it.
             // Websocket will automatically reconnect after 5 seconds.
             makeWebSocket: function(urlFragment, afterFunc) {
                 var rhasspy = this;

                 // Use URL to decide websocket protocol
                 var wsProtocol = 'ws://';
                 if (window.location.protocol == 'https:') {
                     wsProtocol = 'wss://';
                 }

                 var wsURL = wsProtocol + window.location.host + urlFragment;
                 var socket = new WebSocket(wsURL);
                 socket.onclose = () => {
                     // Try to reconnect
                     setTimeout(function() {
                         rhasspy.makeWebSocket(urlFragment, afterFunc);
                     }, 5000);
                 }

                 if (afterFunc != undefined) {
                     afterFunc(socket);
                 }

                 return socket;
             },

             // Log text stream from Rhasspy server.
             // Wrapped in an object so alpinejs can use it in x-model.
             log: {
                 text: ''
             }
         };

         // Automatically hide busy modal after show animation if busyHidden
         $('#busyModal').on('shown.bs.modal', function() {
             if (rhasspy.busyHidden) {
                 $('#busyModal').modal('hide');
             }
         })

         // Automatically hide download modal after show animation if not downloading
         $('#downloadModal').on('shown.bs.modal', function() {
             if (!rhasspy.downloading) {
                 $('#downloadModal').modal('hide');
             }
         })

         // Connect log websocket on startup
         $(function() {
             rhasspy.makeWebSocket(
                 '/api/events/log',
                 function(socket) {
                     socket.onmessage = function(e) {
                         rhasspy.log.text = e.data + '\n' + rhasspy.log.text;
                     }
             });
         })
        </script>

        {% block script %}{% endblock %}
    </body>
</html>
